<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body id="myPage">
  <header>
    {{ partial "header.html" . }}
    {{ partial "navbar.html" . }}
  </header>
  <main>
    <!-- {{ block "main" . }}{{ end }} -->
    {{ partial "project.html" . }}
    {{ partial "team.html" . }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <script src="/js/main.js"></script>
</body>
</html>
