<div class="jumbotron text-center">
    <h1>{{ site.Title }}</h1>
    <p>We specialize in blablabla</p>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About SG Lab</h2>
      <h4>Lorem ipsum..</h4>
      <p>Lorem ipsum..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid text-center bg-grey">
  <h2>RESEARCH AREAS</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    </div>
    <br><br>
</div>

